<!DOCTYPE html>
<html lang="en">
<head>
  {{{htmlWebpackPlugin.options.data.meta}}}
  <title>{{{htmlWebpackPlugin.options.data.baseTitle}}}—融资贷款</title>
  {{{htmlWebpackPlugin.options.data.font}}}
  {{{htmlWebpackPlugin.options.data.shortIcon}}}
</head>
<body>
  <div id="root"></div>
  <!--[if lt IE 9]>{{{htmlWebpackPlugin.options.data.ie8}}}<![endif]-->
</body>
</html>
